html{
    height:100%;
}

body{
    height: 100%;
    padding: 0px;
    background-color: white;
}

.message{
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;
}

#usersMessages .card .collection-item{
    padding: 10px 10px 10px 110px !important;
    background-color: rgba(255, 255, 255, 0.5);
}
#usersMessages .card .collection-item a span{
    display: inline-block;
    padding-top: 20px;
    font-size: 20px !important;
}
#usersMessages .card {
    background-color: transparent !important;
}

#friendList .card .collection-item{
    padding: 10px 10px 10px 110px !important;
    background-color: rgba(255, 255, 255, 0.5);
}
#friendList .card .collection-item a span{
    display: inline-block;
    padding-top: 20px;
    font-size: 20px !important;
}
#friendList .card {
    background-color: transparent !important;
}

.collection-item .message-img{
    margin: 0px !important;
    width:65px !important;
    height:65px !important;
}


.message span{
    padding: 10px;
    border-radius: 15px;
}

.message.my .message-item{
    background-color: #32b38c !important;
    color: white !important;
    float: right;
    clear: both;
    max-width: 50%;
}
.message.my .date{
    padding: 0px 10px !important;
    font-size: 10px;
    color: lightslategray;
    float: right;
    clear: both;
    margin-bottom: 15px;
}

.wall .wall-item .card .coment :hover{
    cursor:pointer !important;
}

.message.user .message-item{
    background-color: #d9d9d9 !important;
    float: left;
    clear: both;
    max-width: 50%;
}
.message.user .date{
    padding: 0px 10px !important;
    font-size: 10px;
    color: lightslategray;
    float: left;
    clear: both;
    margin-bottom: 15px;
}

#textMessages{
    overflow-x: auto;
    height: calc(100vh - 200px);
}
.row.wall .col .card .badge{
    float: none !important;
}

.edit-user-data input[type=radio] {
    display:none!important;
}

#content #main-content .edit-user-data .row{
    margin:15px 0px !important;
}

#content #main-content .edit-user-data form{
    padding:20px 0px !important;
}

.user-about-section h6{
    margin:10px 15px 10px 20px;
    display: inline-block;
    font-size: 20px;
}
.user-about-section p{
    display: inline-block;
    font-size: 16px;
}

#messagesSection{
    min-height: 100vh;
    max-height: 100vh;
}

.main-color{
    background-color: #32b38c;
}

.selected-message{
    background-color: white !important;
}

.fixed{
    position: fixed;
}

.main-color-text{
    color: #237d61;
}

@media only screen and (max-width: 600px){
    .left-border-green{
        box-sizing: border-box !important;
        border-left: none;
    }

    .right-border-green{
        box-sizing: border-box !important;
        border-right: none;
    }

    .both-border-green{
        box-sizing: border-box !important;
        border-left: none;
        border-right: none;
    }

    .bottom-border-gray{
        box-sizing: border-box !important;
        border-bottom: none;
    }
    .left-border-gray{
        box-sizing: border-box !important;
        border-left: none;
    }
    .top-border-gray{
        box-sizing: border-box !important;
        border-top: none;
    }

    .right-border-gray{
        box-sizing: border-box !important;
        border-right: none;
    }

    .both-border-gray{
        box-sizing: border-box !important;
        border-left: none;
        border-right: none;
    }

}

.left-border-green{
    box-sizing: border-box !important;
    border-left: 1px solid #6cbfa3;
}

.right-border-green{
    box-sizing: border-box !important;
    border-right: 1px solid #6cbfa3;
}

.both-border-green{
    box-sizing: border-box !important;
    border-left: 1px solid #6cbfa3;
    border-right: 1px solid #6cbfa3;
}

.bottom-border-gray{
    box-sizing: border-box !important;
    border-bottom: 1px solid #d9d9d9;
}
.left-border-gray{
    box-sizing: border-box !important;
    border-left: 1px solid #d9d9d9;
}
.top-border-gray{
    box-sizing: border-box !important;
    border-top: 1px solid #d9d9d9;
}

.right-border-gray{
    box-sizing: border-box !important;
    border-right: 1px solid #d9d9d9;
}

.both-border-gray{
    box-sizing: border-box !important;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
}

.nav-user-img{
    height:100%;
    width:50px;
}

.user-nav-box{
    display: flex !important;
    flex-direction: row !important;
    justify-content:center!important;
}

.nav-section{
    height:100%;
}

.menu-list{
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: row;
    justify-content:center !important;
}

.menu-list ul{
    height:100%;
}

#main{
    min-height: calc(100vh - 64px);
}

.user-nav{
    background-color: #393836;
}

.user-dop-panel{
    background-color: #444444 !important;
}

#main > header > nav {
    margin-bottom: 0px !important;
}

body .row{
    padding: 0px !important;
}

#content{
    padding: 0px !important;
    margin: 0px !important;
    resize: both;
}


.left-menu-user-img {
    min-height: 180px !important;
    max-height: 180px !important;
    width: 100vw !important;
    object-fit: cover;
    object-position: center;
}

.comment-list{
    max-height: 300px;
    overflow-y:auto;
}

#left-menu{
    background-color: #393836;
    padding: 0 !important;
    height:100%;
}

.comment-field input{
    margin:0px !important;
}

.comment-item{
    margin-bottom: 10px !important;
}

.comment-field button{
    padding: 0px !important;
    margin:0px !important;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.comment-field i{
    margin:0px !important;
    padding:0px !important;
    color: #393836 !important;
}

.like-heart{
    color: #ef5350  !important;
}

.like-heart:hover{
    cursor: pointer;
}

.close-reply{
    color: red;
}

#right-menu{
    padding: 0 !important;
    height:100%;
    background-color: #f7f6f1;
}

.reply-comment{
    background-color: transparent !important;
    border:none !important;
    box-shadow: none !important;
    color:dodgerblue !important;
    padding: 0px !important;
    font-size: 10px !important;
}

.selected-comment{
    background-color: rgba(0, 255, 255, 0.2) !important;
}

.user-page-img{
    min-height: 180px !important;
    max-height: 180px !important;
    margin: 0px;
    padding:0px;
}

.delete-news{
    color:#ffaa8f !important;
    visibility: hidden;
    transition-property: all;
}
.delete-comment{
    color:#ffaa8f !important;
    visibility: hidden;
    transition-property: all;
}

#left-menu .left-menu-user-info{
    min-height: 185px !important;
    max-height: 185px !important;
    background-color: #292929;
    padding: 10px 15px;
    margin: 0px;
    border-top: 5px solid #ffaa8f;
}

#left-menu .left-menu-user-info p{
    max-width: 100vw;
    font-family: 'Khula', sans-serif;
    font-size: 23px;
    text-align: left;
    color: white;
    letter-spacing: 2px;
    text-overflow:ellipsis;
    padding:0px;
    margin: 0px;
    overflow: hidden;
}

.user-ofline{
    color: #fba16d;
}

.user-online{
    color: #41b06b;
}

#left-menu .left-menu-user-info button.following{
    background-color: #32b38c;
}

#left-menu .left-menu-user-info button,
#left-menu .left-menu-user-info a {
    width:100%;
    padding: 0px 5px;
    margin-top: 10px;
    font-size: 10px;
    background-color: transparent;
    border:1px solid #444444;
}


#left-menu .user-menu{
    margin: 10px 0 30px 0;
    border: none;
}

#left-menu .user-menu a{
    padding: 10px 18px;
    background-color: transparent !important;
    width:100%;
    box-shadow: none;
    font-size: 16px;
    font-variant-caps:small-caps !important;
    font-variant:normal !important;
    text-align: left;
    color: #7b7a76;
    height: auto;
    border: none;
}

#left-menu .user-menu a span.new{
    background-color: #32b38c;
}

#left-menu .user-menu a:hover{
    color:white;
    background-color: transparent;
    box-shadow: none;

}

#left-menu .user-menu a:hover span{
    color:white;
}

#content #main-content{
    padding:0px;
    margin:0px;
}

#content #main-content .row{
    padding:0px !important;
    margin: 0px !important;
}

.quick-acces{
    background-color: transparent;
}

#content #main-content .row.quick-acces{
    margin:0 !important;
    padding:0 !important;
    background-color: #f7f6f1;
}

.hidden{
    display: none;
}

#getFile i{
    margin: 0px !important;
    padding: 0px !important;
    color: #81827d;
}
#getFile, #submit-post {
    box-shadow: none;
    background-color: transparent;
    border: 1px solid #ccc9c4;
    color: #81827d;
}

#content #main-content .write-post-section .img-post{
    width:200px;
    height:200px;
    object-fit: cover;
    object-position: center;
}

#content #main-content .row.quick-acces span{
    color:#898883;
    font-size: 35px;
    font-family: monospace;
}

#content #main-content .row.quick-acces .quick-acces-item {
    padding: 40px 10px 40px 20px;
}

#content #main-content .row.quick-acces .quick-acces-item a{
    margin-left: auto;
    background-color: transparent !important;
    box-shadow: none;
}

#content #main-content .row.quick-acces .quick-acces-item a i{
    color:#b6b1ab;
}

#content #main-content .write-post-section{
    padding: 10px !important;
    background-color: #f7f6f1;
    border-bottom: 1px solid #d9d9d9;
}

#content #main-content .write-post-section textarea{
    background-color: #e5e1d6;
    padding: 10px;
    border: none;
    border-radius: 3px;
    color:#7e7975;
    margin: 0px !important;
}

.row.wall{
    margin:0px !important;
    padding:10px !important
}

.row.wall .col{
    margin:0px !important;
    padding: 10px!important;
}
.row.wall .col .card{
    margin:0px !important;
    box-shadow: none;
    border-radius: 0px;
    position: relative;
}
.row.wall .col .card .card-image{
    padding: 5px !important;
    padding-top: 0px !important;
}
.row.wall .col .card .card-image>img{
    width:100% !important;
    height:100% !important;
}
.row.wall .col .card .card-image div{
    display: flex ;
    flex-wrap: wrap ;
    flex-direction: row ;
    justify-content: flex-start;
}

.row.wall .col .card .card-content.musics{
    padding:5px !important;
}
.row.wall .col .card .card-content.musics audio{
    width:100%;
}

.row.wall .col .card .card-content.musics p{
    padding-left: 10px;
    font-size: 14px;
}

.row.wall .col .card .card-image div img{
    margin-top:5px;
    margin-right: 5px;
    height:230px;
    width: 32%;
    object-fit: cover;
    object-position: center;
}


.row.wall .col .card .card-content.videos{
    padding: 5px!important;
}

.row.wall .col .card .card-content video{
    max-width: 100%;
    min-width: 100%;
    min-height: 276px;
}

.row.wall .col .card .card-info img{
    height:60px;
    width:60px;
    object-fit: cover;
    object-position: center;
    border:3px solid white;
    border-radius: 50%;
    position: relative;
    left:-9px;
    top:-9px;
    background-color: white;
}

.row.wall .col .card .card-info a{
    position:absolute;
    margin-top: 10px;
    font-family: 'Port Lligat Slab', serif;
    font-size: 21px;
    color:#444444;
    transition-property: color;
    transition-duration: 0.3s;
}
.row.wall .col .card .card-info a:hover{
    color:#32B38C;
}

#friendList .card .collection-item{
    padding: 10px 10px 10px 110px !important;
    background-color: rgba(255, 255, 255, 0.5);
}
#friendList .card .collection-item a span{
    display: inline-block;
    padding-top: 20px;
    font-size: 20px !important;
}
#friendList .card {
    background-color: transparent !important;
}
.accept_btn {
    float: right;
    margin-top: 13px;
}

ul.collection.card>li {
    margin-bottom: 20px;
}

.collection-item .message-img{
    margin: 0px !important;
    width:65px !important;
    height:65px !important;
}

.row.wall .col .card .card-info .timeago{
    float: right;
    clear: both;
    margin: 10px;
    font-family: 'Port Lligat Slab', serif;
    font-size: 16px;
    color: #CECECE;
}

.row.wall .col.wall-item {
    float: left;
}

.row.wall .col.wall-item:hover .delete-news{
    visibility: visible;
}

#createPost{
    padding: 20px;
    width: 100%;
    height: 100%;
    transition-property: all;
    transition-duration: 0.3s;
    background-color: white;
    border-radius: 0px;
    color: #393836;
}

#createPost:hover{
    background-color: #ffaa8f;
    color: white;
}

.comment .comment-item:hover .delete-comment{
    visibility: visible;
}

.comment .comment-item .chip {
    background-color: transparent !important;
}

.comment .comment-item .chip .timeago{
    font-size: 10px;
}

.comment .comment-item p{
    margin-left: 35px !important;
}

.wall .wall-item .card .card-action{
    padding: 5px !important;
}

.wall .wall-item .card .card-action .timeago{
    font-size: 10px !important;
}

.wall .wall-item .card .card-action .btn{
    padding: 0px !important;
    border:none;
    background-color: transparent;
    color:#7b7a76;
    font-weight: bold;
    margin: 0px !important;
    font-size: 8px !important;
    box-shadow: none;
}

#floating-panel {
    background-color: #fff;
    padding: 5px;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}
#map {
    height: 500px;
    width:100%;
}
.search_res {
    position: absolute;
    background-color: white;
    z-index: 10;
    width: 75%;
    padding: 10px;
}
.search_res img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
}
.search_res a {
    text-decoration: none;
    font-size: 20px;
    color: #00C853;
    vertical-align: middle;
}
.card .chip img {
    object-fit: cover;
    object-position: center;
}









.media_elements{
    width:80% !important;
    margin:auto;
    position:relative;
    padding:0 5px;
    border-radius:5px;
    margin-top:10px;
}

.media_elements audio{
    width:100%;
    padding-right:35px;
}

.media_elements .deleteBtn{
    position:absolute;
    top:20px;
    height:34px;
    width:34px;
    right:5px;
    display:none;
    opacity:0.7;
    border-radius:50%;
}

.media_elements:hover{
    background-color:#f5f5f5;
}

.media_elements:not(.photo_media):hover .deleteBtn{
    display:block;
}

#addSong, #addVideo, #addPhoto, #addGroup, #addFile{
    margin-top:5px;
    margin-bottom: 5px;
    margin-left:10%;
}

.media_elements video{
    width:100%;
}

.video_elements span{
    margin:15px 0 !important;
}

.video_elements .deleteBtn{
    background-color:#f5f5f5;
    border:2px solid white;
    opacity:1 !important;
}

.media_elements_list{
    text-align:center;
    width:33%;
    display:inline-table;
}

.media_elements_list img{
    max-width:260px;
}

.photo_media{
    text-align:center;
    background-color:#f5f5f5;
}

.media_elements_list{
    position:relative;
}

.media_elements_list .deleteBtn{
    top:0;
}

.media_elements_list:hover .deleteBtn{
    display:block;
}

#myModalBigPic img{
    max-height:70%;
    max-width:70%;
}

#myModalBigPic .close, .modalCustomClose{
    float:right;
    width:37px !important;
    height:37px !important;
    max-width:37px !important;
    padding: 0px;
    text-align:center;
    border-radius:50%;
    background-color:#32b38c;
    border:2px solid #f5f5f5;
    font-size:25px;
}

.modalCustomClose{
    position:relative;
    top:-50px;
}

.group_elements{
    width:70% !important;
    background-color:#f5f5f5;
}

#addGroup{
    margin-left:15%;
}

.group_elements{
    padding:0 50px;
}

.group_elements .textLink{
    font-size:22px !important;
    position:absolute;
    top:0px;
    margin-left:20px;
}

.group_container{
    width:70%;
    margin:auto;
}

.groupMenu{
    margin-top:10px;
    max-width:250px;
    float:right;
}

.groupMenu {
    text-align:center;
}

.groupMenu input{
    margin-top:5px;
    margin-bottom: 5px;
    width:100%;
}

.newMessageCount {
    display: inline-block;
    position: relative;
    top:-10px;
    background-color: red;
    color:white;
    width:25px;
    height:25px;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
}

.groupMenu span#title{
    font-size:22px;
    word-wrap:break-word;
}

.groupMenu img{
    max-width: 250px;
}

.oldImg{
    max-width:350px;
}

#myModalBigPic, .modal{
    max-height:70% !important;
}

progress {
  display: block; /* default: inline-block */
  width: 100%;
  margin: 10px auto;
  padding: 4px;
  border: 0 none;
  background: #444;
  border-radius: 14px;
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}
progress::-moz-progress-bar {
  border-radius: 12px;
  background: #32B38C;
  box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4), 0 2px 5px 0px rgba(0,0,0,0.3);
  
}
/* webkit */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  progress {
    height: 25px;
  }
}
progress::-webkit-progress-bar {
    background: transparent;
}  
progress::-webkit-progress-value {  
  border-radius: 12px;
  background: #32B38C;
  box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4), 0 2px 5px 0px rgba(0,0,0,0.3); 
} 
.modal{
    z-index:10000;
    }

    ul.notification p{
        font-size: 18px;
        display: block;
        text-align: left;
        padding-left: 20px; 
    }

     ul.notification span{
         font-family: 'Port Lligat Slab', serif;
         padding-left: 20px;
         font-size: 20px !important;
     }
     ul.notification .timeago{
         float: right;
         margin-bottom:10px;
     }
     ul.notification .notificarion-type {
         box-sizing: border-box;
         height:35px;
         width:35px;
         position: relative;
         left:-15px;
         top:-10px;
         border:3px solid white;
         border-radius: 50%;
         background-color: white;
     }

.file_elements{
    font-size:20px;
}

.d_btn{
    top:0 !important;
    width:30px !important;
    height:30px !important;
}
